.DS_Store
.vscode
pytorch/best_models_vkitti
pytorch/best_models_kitti
pytorch/best_models_scenenet
pytorch/best_models_void
pytorch/pretrained_models*
pytorch/trained_fusionnet
pytorch/trained_scaffnet
pytorch/data
pytorch/setup/__pycache__
pytorch/src/__pycache__
pytorch/training
pytorch/validation
pytorch/testing
pytorch/visualizations
tensorflow/best_models_vkitti
tensorflow/best_models_kitti
tensorflow/best_models_scenenet
tensorflow/best_models_void
tensorflow/pretrained_models*
tensorflow/trained_fusionnet
tensorflow/trained_scaffnet
tensorflow/data
tensorflow/setup/__pycache__
tensorflow/src/__pycache__
tensorflow/training
tensorflow/validation
tensorflow/testing
tensorflow/visualizations